
<as-split direction="horizontal">
    <as-split-area [size]="50">
        <as-split direction="vertical">

            <as-split-area [size]="10">
                <lib-bistackspecific [StackInstanceName]="StacksNames.Bistack_Stack1_Instance1">
                </lib-bistackspecific>
            </as-split-area>
        
            <as-split-area [size]="10">
                <lib-bistackspecific [StackInstanceName]="StacksNames.Bistack_Stack1_Instance2">
                </lib-bistackspecific>
            </as-split-area>
        
            <as-split-area [size]="10">
                <lib-otherstackspecific [StackInstanceName]="OtherStacksNames.Otherstack_Instance1">
                </lib-otherstackspecific>
            </as-split-area>
        
            <as-split-area [size]="10">
                <lib-otherstackspecific [StackInstanceName]="OtherStacksNames.Otherstack_Instance2">
                </lib-otherstackspecific>
            </as-split-area>
        
            <as-split-area [size]="80">
            </as-split-area>
        </as-split>
    </as-split-area>
    <as-split-area [size]="50">
        <as-split direction="vertical">

            <as-split-area [size]="10">
                <lib-bistackspecific [StackInstanceName]="StacksNames.Bistack_Stack1_Instance1">
                </lib-bistackspecific>
            </as-split-area>
        
            <as-split-area [size]="10">
                <lib-bistackspecific [StackInstanceName]="StacksNames.Bistack_Stack1_Instance2">
                </lib-bistackspecific>
            </as-split-area>
        
            <as-split-area [size]="10">
                <lib-otherstackspecific [StackInstanceName]="OtherStacksNames.Otherstack_Instance1">
                </lib-otherstackspecific>
            </as-split-area>
        
            <as-split-area [size]="10">
                <lib-otherstackspecific [StackInstanceName]="OtherStacksNames.Otherstack_Instance2">
                </lib-otherstackspecific>
            </as-split-area>
        
            <as-split-area [size]="80">
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>


